body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

h1 {
  color: #38bdf8;
}

.box {
  margin-top: 20px;
  padding: 15px;
  background: #1e293b;
  border-radius: 10px;
}

/* Inputs */
input {
  width: 80%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* Buttons */
button {
  padding: 10px 15px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

/* History */
#history {
  text-align: left;
  max-height: 250px;
  overflow-y: auto;
}

.item {
  background: #334155;
  margin: 5px 0;
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
}

a {
  color: #22c55e;
}
